body {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 570px;
  margin: 0 auto;
  padding: 0px 15px;
}


.header-wrp {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu {
  cursor: pointer;
}
.header-add {
  cursor: pointer;
}
